@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #18453B;
    --green: #33673B;
    --blue: #337CA0;
    --accent-color: #eaeaea;
}

body {
    font-family: 'Manrope', sans-serif;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.font-weight-bold {
    font-weight: bold;
}
