@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap');
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root [data-theme='skeleton'] {
	--theme-font-family-base: 'Gabarito', sans-serif;
	--theme-font-family-heading: 'Gabarito', sans-serif;
	/* ... */
}
